* {padding:0;margin:0;}
img {border:0;}
.clear {clear:both;font-size:5px;}
.left {float:left;}
.right {float:right;}
.text-right {text-align:right;}
.center {text-align:center;}
.small {font-size:.857em !important;} /* 12px */
.xsmall {font-size:.786em !important;} /* 11px */
.xxsmall {font-size:9px;}
.normal {font-size:12px !important;}
.big {font-size:14px !important;}
.bigger {font-size:16px !important;}
.black {color:#000;}
.green1,.green1:hover {color:#7ba709;}
.green2,.green2:hover {color:#6f9904;}
.darkgray {color:#333;}
.strong {font-weight:bold;}
.absolute-right {position:absolute;top:0;right:0;}
.white {color:#fff;}
.red {color:#f00;}

header,hgroup,footer,aside,nav,article,section {display:block;}

/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      FontSite Inc.
 * License URL: http://www.fontspring.com/fflicense/fontsite
 *
 *
 */

@font-face {
    font-family: 'AlternateGothicFSNo3';
    src: url('./fonts/AlternateGothicNo3-webfont.eot');
    src: local('☺'), url('./fonts/AlternateGothicNo3-webfont.woff') format('woff'), url('./fonts/AlternateGothicNo3-webfont.ttf') format('truetype'), url('./fonts/AlternateGothicNo3-webfont.svg#webfontUJOPMwss') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background:#FFF;
    color:#333;
    font-family:Arial, Helvetica, sans-serif;
    font-size:.875em; /* 14px */
    -webkit-font-smoothing: antialiased;
}

a {
    color:#000;
    text-decoration:none;
}

.container {
    min-width:1000px;
}

h1,#content h2 {
	font-family:AlternateGothicFSNo3,"Arial Narrow";
	text-transform:uppercase;
	font-weight:normal;
}

header#page_header {
    background:#252525;
    border-right:solid 1px #000;
    bottom:0;
    left:0;
    padding:20px 0;
    position:fixed;
    overflow:hidden;
    top:0;
    width:219px;
    z-index:10;
}

header#page_header hgroup {
}

    header#page_header hgroup h1 {
        font-size:2.571em;
        line-height:1em;
        padding:0 20px 10px;
    }

        header#page_header hgroup h1 a {
            color:#FFF;
            text-decoration:none;
        }

    header#page_header hgroup h2 {
        color:#FFF;
        font-size:1em;
        font-weight:normal;
        margin:0;
        padding:5px 20px 0;
    }


nav#navigation {
    padding:30px 0;
}

    nav#navigation li {
        font-family:AlternateGothicFSNo3,"Arial Narrow";
        font-size:1.571em;
        line-height:1.25em;
        list-style:none;
        margin-top:0; /* override default */
        text-transform:uppercase;
    }
    
        nav#navigation li a {
            border-top:solid 1px #111;
            border-bottom:solid 1px #3f3f3f;
            color:#FFF;
            display:block;
            padding:9px 20px;
            text-decoration:none;
        }
        
        nav#navigation li:first-child {
            border-top:solid 1px #3f3f3f;
        }
        
        nav#navigation li:first-child a {
            background: url(./img/home.png) no-repeat right center;
        }
        
        nav#navigation li:last-child {
            border-bottom:solid 1px #111;
        }
        
        nav#navigation li a.current {
            background-color:#000;
            border-bottom:0;
        }
        
        nav#navigation li a:hover {
            background-color:#2f2f2f;
        }
        
        nav#navigation li a:active {
            background-color:#202020;
        }

#content {
    padding:20px 30px 20px 250px;
    position:relative;
}

	#content a {
		color: #5B6A79;
	}
	
	#content a:hover {
		color: #0091BE;
	}
	
	#content p {
		line-height:150%;
		margin-bottom:5px;
	}
	
	#content a.button {
		display: inline-block;
		padding:5px 10px;
		background: #f5f7fc;
		background: -webkit-gradient(linear, left top, left bottom, from(#f5f7fc), to(#e4e6eb));
		background: -webkit-linear-gradient(#f5f7fc, #e4e6eb);
		background: -moz-linear-gradient(center top, #f5f7fc 0%, #e4e6eb 100%);
		background: -moz-gradient(center top, #f5f7fc 0%, #e4e6eb 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f5f7fc,endColorstr=#e4e6eb);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f5f7fc, endColorstr=#e4e6eb)";
		border: 1px solid #d3d5da;
		border-radius: 7px;
		-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
		-moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
		color: #5b6a79;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
	}
	
	#content a.button:hover {
		text-decoration: none;
		border: 1px solid #b1b3b8;
	}
	
	.pdf {
		background: url('./img/page_white_acrobat.gif') left center no-repeat;
		padding-left: 22px;
	}
	
	
	.whyd {
        background: url('img/icon-whyd.png') left center no-repeat;
		padding-left: 22px;
	}
	
	.instagram {
        background: url('img/icon-instagram.png') left center no-repeat;
        padding-left: 22px;
    }
    
    .lastfm {
		background: url('./img/lastfm.png') left center no-repeat;
		padding-left: 22px;
	}
	
	.profile_image {
		background:#fff;
		border:solid 1px #797878;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;
		-moz-box-shadow:0 0 4px rgba(0,0,0,.4);
		-webkit-box-shadow:0 0 4px rgba(0,0,0,.4);
		box-shadow:0 0 4px rgba(0,0,0,.4);
		margin-bottom:10px;
		padding:5px;
		float:left;
		margin-right: 20px;
	}

.clear {
	clear:both;
}

#content h1 {
	font-size:2.571em;
	line-height:1em;
	margin-bottom: 20px;
	margin-top: 50px;
}

	#content h1:first-child {
		margin-top: 0px;
	}
	
	#content li {
		display:inline-block;
		vertical-align:top;
		list-style: none;
		text-shadow: 0 1px 0 white;
		width:270px;
		margin-right: 30px;
		margin-bottom: 30px;
	}
    
	#content li img {
		border-radius: 5px;
		border: 2px solid #5B6A79;
		width:260px;
		height:180px;
		margin-bottom: 15px;
		opacity:0.8;
	}
	
	#content li:hover img {
		opacity:1;
	}
	
	#content h2 {
		width: 260px;
		margin-bottom: 15px;
	}
	
	#content h2 a {
		font-size:24px;
	}
	
	#content h2 small {
		font-size:16px;
		float:right;
		color: #5B6A79;
	}
	
	#content li p {
		font-size:90%;
		width: 260px;
	}
    
	#content li:hover h2 a, #content li a:focus h2 a {
		color: #0091BE;
		text-decoration: none;
	}
    
    #content li:hover img, #content li a:focus img {
		border: 2px solid #0091BE;
	}
    
        header#page_header h1.header_image {
            text-align:center;
        }
     
     
     
     
article header aside.sms {
    font-size: 11px;
}

footer section.locations h1 {
    font-weight: normal;
    line-height: 21px;
    margin-top: 0px;
}

input, select, textarea {
    font-size: 1.6em;
    line-height:1.3em !important;
    padding: 5px;
}


footer#pagination {
    /* margin-left:155px; */
    overflow:hidden;
    padding-bottom:50px;
}

    .pagination {
        font-family:AlternateGothicFSNo3,"Arial Narrow";
        font-size:1.429em;
        margin:3px;
        padding:3px;
        text-align:center;
        text-transform:uppercase;
    }

    .pagination a {
        border:solid 1px #000;
        border:solid 1px rgba(0,0,0,.3);
        color:#000;
        margin:2px;
        padding:0 5px;
        text-decoration:none;
    }
    
    .pagination span.disabled {
        display:none;
    }
    
    .pagination a:hover, .pagination a:active {
        border:solid 1px #000;
    }
    
    .pagination span.current {
        color:#333;
        font-weight:bold;
        padding:2px 5px;
        margin:2px;
    }

footer section.share {
height:25px;
}
    
.cw {
    color:#ccc;
    font-family:AlternateGothicFSNo3,"Arial Narrow";
    font-size:1.714em;
    padding:20px 30px 0 250px;
    text-align:center;
    text-transform:uppercase;
}

    .cw a {
        color:#aaa !important;
        text-decoration:none;
    }
