<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}

    <meta name="keywords" content="{{ site.keywords }}">
    <link href="/icon.png" rel="icon" type="image/x-png">  
    <!--
    <link rel="image_src" href="{{ site.avatar }}">
    <meta property="og:image" content="{{ site.avatar }}">
    <meta name="twitter:image" content="{{ site.avatar }}">  
    -->

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/blog.css?v=" | append: site.github.build_revision | relative_url }}">
    <link href='{{ "/assets/share-selected-text/shareSelectedText.min.css?v=" | append: site.github.build_revision | relative_url }}' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">

      <h1>{{ page.title }}</h1>
      <p class="author-and-date">
        By <a href="{{ "/posts" | absolute_url }}">Adrien Joly</a>, {{ page.date | date: "%b %-d, %Y" }}
      </p>
  
      {{ content }}

      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        This site is open source. {% github_edit_link "Improve this page" %}.
      </div>
      {% endif %}
    </div>

    <script src="{{ "assets/javascript/anchor-js/anchor.min.js" | relative_url }}"></script>
    <script>anchors.add();</script>

    {% if site.google_analytics %}
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}

    <!--
    <script src='{{ "/assets/share-selected-text/shareSelectedText.js?v=" | append: site.github.build_revision | relative_url }}'></script>
    <script>
      // plugin initialization with default options
      shareSelectedText('body', {
          tooltipClass: '',    // cool, if you want to customize the tooltip
          sanitize: true,      // will sanitize the user selection to respect the Twitter Max length (recommended) 
          buttons: [           // services that you want to enable you can add : 
              'twitter',       // - twitter, tumblr, buffer, stumbleupon, digg, reddit, linkedin, facebook
              'linkedin',
              'reddit'
          ],
          anchorsClass: '',    // class given to each tooltip's links
          twitterUsername: 'adrienjoly', // for twitter widget, will add 'via @twitterUsername' at the end of the tweet.
          facebookAppID: '', // Can also be an HTML element inside the <head> tag of your page : <meta property="fb:APP_ID" content="YOUR_APP_ID"/>
          facebookDisplayMode: 'popup', //can be 'popup' || 'page'
          tooltipTimeout: 250  //Timeout before that the tooltip appear in ms
      });
    </script>
    -->
    <script src="https://unpkg.com/sharect@2.0.0/dist/sharect.js"></script>
    <script>
      Sharect.config({
        facebook: true,
        twitter: true,
        twitterUsername: 'adrienjoly',
        selectableElements: ['p', 'h1', 'h2', 'li']
      }).init();
    </script>

  </body>
</html>