<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta property="og:site_name" content="Adrien Joly">
	<meta property="og:url" content="http://adrienjoly.com">
	<meta property="og:type" content="homepage">
	<meta property="og:title" content="Adrien Joly">
	<meta property="og:image" content="/img/photo.jpg">
	<meta property="og:description" content="I craft useful full-stack products, teach JavaScript programming, and play drums."/>
	<meta name="description" content="I craft useful full-stack products, teach JavaScript programming, and play drums." />
	<meta name="keywords" content="javascript,hacker,prototyping,startup,paris,software,development,programming,whyd,openwhyd,innovation,node.js,music,drums,drummer,batteur,minab,fhacktory,hackathon,man is not a bird,harissa">
	<meta name="author" content="Adrien Joly">
	<link rel="image_src" href="/img/photo.jpg">
	<link href="/icon.png" rel="icon" type="image/x-png">
	<link href="/legacy.css" media="screen" rel="stylesheet" type="text/css">
	<title>Adrien Joly{% if page.title %} - {{ page.title }}{% endif %}</title>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-1858235-4']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>
<body class="tabMain">
	<div class="container">
		<header id="page_header">

			<div id="card">
				<h1><a href="/" title="Adrien Joly" rel="index">Adrien Joly</a></h1>
				<ul>
					<li>full-stack developer</li>
					<li>javascript teacher</li>
					<li>drummer</li>
				</ul>
			</div>

			<nav id="navigation">
				<ul>
					<li><a href="/">home</a></li>
					<li><a href="/talks">talks</a></li>
					<li><a href="/projects">projects</a></li>
					<li><a href="/music">music</a></li>
				</ul>
			</nav>

			<div id="socialicons">
				<a id="icon-github" href="http://github.com/adrienjoly" rel="external" target="_blank" title="github code"></a>
				<a id="icon-linkedin" href="http://www.linkedin.com/in/adrienjoly" rel="external" target="_blank" title="linkedin resume"></a>
				<a id="icon-medium" href="https://medium.com/@adrienjoly" rel="external" target="_blank" title="medium blog"></a>
				<a id="icon-twitter" href="http://twitter.com/adrienjoly" rel="external" target="_blank" title="twitter"></a>
			</div>
		</header>

		<div class="content">
			{{ content }}
		</div>

	</div>
</body>
</html>
